{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cva", "cn"],
  "tailwindStylesheet": "./src/styles.css"
}
